:root {
    --first-color: #040e35;
    --second-color: #faf171ea;
    --third-color: rgba(255, 255, 255, 0.7);
    --bg-blue: url("./img/azul.png");
    --bg-yellow: url("./img/amarillo.png");

}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin: 0;
}

#title, #description, #tribute-info, #history, #img-caption, #achievements, #footer{
    padding: 0.9em;
}

#escudo{
width: 3em;
position: absolute;
top: 0.2em;
transition: 0.2s ease-in;
}

#escudo:hover{
transform: scale(1.2);
    
}

#title{
    text-align: center;
    background-image: var(--bg-blue);
    background-size: cover;
    color: var(--second-color);
    margin: 0 auto;
    font-size: 2.5em;
}

#description{
    text-align: center;
    background-image: var(--bg-yellow);
    background-size: cover;
    color: var(--first-color);
    margin: 0 auto;
}

img{
    display: block;
}

#image{
    max-width: 100%;
    height: auto;
}

#img-caption{
    background-image: var(--bg-yellow);
    background-size: cover;
    color: var(--first-color);
    text-align: center;
    font-size: 0.7em;
}

#tribute-info{
    background-image: var(--bg-blue);
    background-size: cover;
    padding: 0;
}

#history{
    color: var(--third-color);
    margin: 0;
    padding-top: 1.5em;
}

#history-div, p:first-child{
    margin-top: 0;
}

#history-div, p:last-child{
    margin-bottom: 0;
}

#achievements{
    
    color: var(--third-color);
    padding-left: 1em;
    margin-bottom: 0;
}

#achievements, li:first-child{
    margin-top: 0;
}

#achievements li{
    margin: 1em auto;
    list-style: none;
}

#achievements li::before{
    content: "🟡";
    margin-right: 5px;
}

#footer{
    background-image: var(--bg-yellow);
    background-size: cover;
    color: var(--firstcolor);
    font-size: 1em ;
    text-align: center;
}

#footer-p a{
    color: var(--first-color);
    font-weight: 600;
}

#footer-p a:hover{
    color: #203db4;
    transition: color 0.2s ease;
}


/*Media Query PC*/

@media (min-width: 1200px){
body{
    font-size: 1.2em;
}

    #tribute-info{
        display: flex;
        padding: 0 10em;
}

#history-div{
    margin: 5em auto;
    padding-right: 9em;
}

#achievements, li:first-child{
    margin-top: 6em;
}
}